@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>VernCular University</h1>
    <h2>Welcome to VenCuler University</h2>
    <p>
        The Worlds Leader in Programming Languages
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
    
        <style>
            body {
                background: url(https://res.cloudinary.com/highereducation/image/upload/c_fill,f_auto,fl_lossy,q_auto:eco,w_864,h_475/v1/BestColleges.com/Blog/BC-Blog_IvyLeague_8.5.20_FTR.jpg)no-repeat center center fixed;
                background-size: cover;
            }
        </style>
        
    </div>
   
