@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-color: #d6deb8;
    }
</style>

<p>School privacy policy. 1. Stay off Social Media   2. What would Jesus say? </p>
