@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">"I saw a piller of light..."</h1>
        <h3>Joseph Smith</h3>
        
            <div id="carosuselHomePage" class="carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="carouselHomePage" data-slide-to="0" class="active"></li>
                    <li data-target="carouselHomePage" data-slide-to="1"></li>
                    <li data-target="carouselHomePage" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/ThePiller.JPG" alt="I saw a piller of light" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/TheSpot.JPG" alt="The Location" />

                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/Joseph2.JPG" alt="Joeseph Smith" />

                    </div>
                </div>

            </div>

            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
     
